asgiref==3.3.4
beautifulsoup4==4.9.3
confusable-homoglyphs==3.2.0
Django==3.2.3
django-bootstrap4==3.0.1
django-registration==3.1.2
importlib-metadata==2.1.1
pytz==2021.1
soupsieve==2.2.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
zipp==3.4.1
